<div class="w-full flex justify-center mt-10 mb-6">
  <div class="bg-white px-8 py-6 rounded-xl shadow-lg w-full max-w-5xl">

    <h2 class="text-lg font-bold mb-6 text-center text-gray-800">FILTER TASK</h2>

    <form [formGroup]="filterForm" class="grid grid-cols-1 md:grid-cols-4 gap-6">
      
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">All</mat-option>
          <mat-option value="To Do">To Do</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="">All</mat-option>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="flex gap-3 justify-center items-center">
        <button mat-flat-button color="primary" type="button" (click)="applyFilters()" class="px-6 py-2 rounded-lg shadow-md">
          Apply
        </button>
        <button mat-stroked-button color="warn" type="button" (click)="resetFilters()" class="px-6 py-2 rounded-lg">
          Reset
        </button>
      </div>

    </form>

  </div>
</div>

