<div class="task-filters-container">
  <app-task-filters (filtersChanged)="onFiltersChanged($event)"></app-task-filters>
</div>


<div class="task-table-container">
  <table class="task-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Due Date</th>
        <th>ProjectID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="editingIndex === i; else viewMode">
          <td><input [(ngModel)]="editedTask.title" /></td>
          <td><input [(ngModel)]="editedTask.description" /></td>
          <td>
            <select [(ngModel)]="editedTask.status">
              <option value="To Do">To Do</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="editedTask.priority">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </td>
          <td><input type="date" [(ngModel)]="editedTask.due_date" /></td>
          <td><input [(ngModel)]="editedTask.project_id" /></td>
          <td>
            <button class="edit-btn" (click)="saveEdit(i)">Save</button>
            <button class="delete-btn" (click)="cancelEdit()">Cancel</button>
          </td>
        </ng-container>

        <ng-template #viewMode>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td class="status" [attr.data-status]="task.status"></td>
          <td class="priority" [attr.data-priority]="task.priority"></td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.project_id }}</td>
          <td>
            <button class="edit-btn" (click)="startEdit(i)">Edit</button>
            <button class="delete-btn" (click)="deleteTask(i)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
